.title-h1 {
   font-size: 3.125rem;
   line-height: 140%;
}

.sec-title {
   font-size: 3rem;
   line-height: 130%;
}

.sec-sub {
   font-size: 1.125rem;
   line-height: 1.875rem;
   color: rgba(255, 255, 255, 0.55);
   font-weight: 400;
}

.text-24 {
   font-weight: 500;
   font-size: 1.5rem;
   line-height: 2.25rem;
   color: rgba(255, 255, 255, 0.8);
}

.text-16 {
   font-size: 1rem;
   line-height: 1.875rem;
   font-weight: 400;
   color: rgba(255, 255, 255, 0.55);
}

.text-14 {
   font-size: 0.875rem;
   line-height: 1.875rem;
}

.footer-titles {
   font-size: 1.25rem;
   line-height: 1.875rem;
}

*, html {
   -webkit-box-sizing: border-box;
           box-sizing: border-box;
   margin: 0;
   padding: 0;
}

ul, ol, li, a {
   list-style: none;
   text-decoration: none;
   color: inherit;
}

input {
   outline: none;
   border: none;
}

body {
   font-family: "Poppins", sans-serif;
   font-weight: 500;
   color: rgba(255, 255, 255, 0.9);
   background-color: #1e252b;
}

._container {
   max-width: 1224px;
   margin: 0 auto;
}

.btn {
   border-radius: 8px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   -webkit-box-pack: center;
       -ms-flex-pack: center;
           justify-content: center;
}

.orange-btn {
   background-color: #FF6E30;
   border-radius: 8px;
   color: white;
}

.orange {
   color: #FF6E30;
}

.title-h1 {
   font-size: 3.125rem;
   line-height: 140%;
}

.sec-title {
   font-size: 3rem;
   line-height: 130%;
}

.sec-sub {
   font-size: 1.125rem;
   line-height: 1.875rem;
   color: rgba(255, 255, 255, 0.55);
   font-weight: 400;
}

.text-24 {
   font-weight: 500;
   font-size: 1.5rem;
   line-height: 2.25rem;
   color: rgba(255, 255, 255, 0.8);
}

.text-16 {
   font-size: 1rem;
   line-height: 1.875rem;
   font-weight: 400;
   color: rgba(255, 255, 255, 0.55);
}

.text-14 {
   font-size: 0.875rem;
   line-height: 1.875rem;
}

.footer-titles {
   font-size: 1.25rem;
   line-height: 1.875rem;
}

.header__body {
   height: 100vh;
   position: relative;
}

.header__menu {
   display: -ms-grid;
   display: grid;
   -ms-grid-columns: 1fr 2fr 1fr;
   grid-template-columns: 1fr 2fr 1fr;
   -ms-grid-rows: 1fr;
   grid-template-rows: 1fr;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   padding-top: 38px;
   margin-right: 20px;
   margin-left: 20px;
}

.header__menu > *:nth-child(1) {
   -ms-grid-row: 1;
   -ms-grid-column: 1;
}

.header__menu > *:nth-child(2) {
   -ms-grid-row: 1;
   -ms-grid-column: 2;
}

.header__menu > *:nth-child(3) {
   -ms-grid-row: 1;
   -ms-grid-column: 3;
}

.header__burger .burger__img {
   display: none;
}
.header__burger .burger__menu {
   width: 100%;
   height: 50vh;
   position: absolute;
   top: -50%;
   left: 0;
   z-index: 20;
   border-radius: 0 0 35px 35px;
   background-color: rgba(0, 0, 0, 0.9);
   -webkit-transition: 0.7s;
   transition: 0.7s;
}
.header__burger .burger__menu .menu__list {
   display: none;
   margin-left: 20px;
}
.header__burger .burger__menu .menu__list .burger__close {
   font-size: 30px;
   margin-top: 30px;
   margin-right: 25px;
   text-align: right;
}
.header__burger .burger__menu .menu__list .list__item {
   margin-top: 25px;
}
.header__burger .burger__menu .menu__list .list__item .item__link {
   font-size: 22px;
}

.menu__list {
   -ms-grid-column: 2;
   -ms-grid-column-span: 1;
   grid-column: 2/3;
   -ms-grid-row: 1;
   -ms-grid-row-span: 1;
   grid-row: 1/2;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   -webkit-box-pack: center;
       -ms-flex-pack: center;
           justify-content: center;
}
.menu__list .list__item {
   margin-right: 20px;
}
.menu__list .list__item:last-child {
   margin-right: 0;
}
.menu__list .list__item .item__link:hover {
   color: white;
   -webkit-transition: 0.5s;
   transition: 0.5s;
}
.menu__list .drop-down {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   position: relative;
}
.menu__list .drop-down img {
   margin-left: 5px;
}
.menu__list .drop-down:hover .drop-down__list {
   display: block;
}
.menu__list .drop-down .drop-down__list {
   width: 200%;
   display: none;
   position: absolute;
   top: 100%;
   left: 0;
   background-color: white;
   color: gray;
   padding: 10px;
   border-radius: 10px;
}
.menu__list .drop-down .drop-down__list .list__item {
   margin-bottom: 15px;
}
.menu__list .drop-down .drop-down__list .item__link:hover {
   color: black;
}

.header__btn {
   -ms-grid-column-align: right;
       justify-self: right;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   -ms-grid-column: 3;
   -ms-grid-column-span: 1;
   grid-column: 3/4;
   -ms-grid-row: 1;
   -ms-grid-row-span: 1;
   grid-row: 1/2;
}
.header__btn .btn {
   padding: 12px 22px;
}

.header__main {
   margin-top: 116px;
   margin-right: 20px;
   margin-left: 20px;
}
.header__main img {
   position: absolute;
   bottom: 0;
   right: 0;
   z-index: -1;
}

.main__text {
   max-width: 600px;
}
.main__text .sec-sub {
   margin-top: 30px;
}
.main__text .main__form {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   margin-top: 60px;
}
.main__text .main__form input[type=text] {
   background-color: #283036;
   padding: 22px 111px 22px 20px;
   border-radius: 15px 0 0 15px;
   color: white;
   height: 64px;
}
.main__text .main__form .form-submit-wrapper {
   padding: 8px 11px;
   height: 64px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   background-color: #283036;
   border-radius: 0 15px 15px 0;
}
.main__text .main__form .form-submit-wrapper input {
   padding: 12px 36px;
}

@media screen and (max-width: 48.5em) {
   .header__menu {
      -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
   }
   .header__menu .menu__list,
.header__menu .header__btn {
      display: none;
   }

   .header__burger {
      -ms-grid-column-align: right;
          justify-self: right;
   }
   .header__burger .burger__img {
      display: block;
   }
   .header__burger .burger__menu .menu__list {
      display: block;
   }
}
@media screen and (max-width: 28.75em) {
   .main__text .title-h1 {
      font-size: 1.875rem;
   }
   .main__text .main__form {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
   }
   .main__text .main__form input[type=text] {
      border-radius: 15px 15px 15px 0;
   }
   .main__text .main__form .form-submit-wrapper {
      border-radius: 0 0 15px 15px;
   }
}
@media screen and (max-width: 20em) {
   .main__text .main__form {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
   }
   .main__text .main__form input[type=text] {
      padding: 22px 60px 22px 20px;
   }
}
.title-h1 {
   font-size: 3.125rem;
   line-height: 140%;
}

.sec-title {
   font-size: 3rem;
   line-height: 130%;
}

.sec-sub {
   font-size: 1.125rem;
   line-height: 1.875rem;
   color: rgba(255, 255, 255, 0.55);
   font-weight: 400;
}

.text-24 {
   font-weight: 500;
   font-size: 1.5rem;
   line-height: 2.25rem;
   color: rgba(255, 255, 255, 0.8);
}

.text-16 {
   font-size: 1rem;
   line-height: 1.875rem;
   font-weight: 400;
   color: rgba(255, 255, 255, 0.55);
}

.text-14 {
   font-size: 0.875rem;
   line-height: 1.875rem;
}

.footer-titles {
   font-size: 1.25rem;
   line-height: 1.875rem;
}

.sec-most-popular-tools {
   margin-right: 20px;
   margin-left: 20px;
}
.sec-most-popular-tools .tools__slider {
   display: none;
}

.tools__text {
   max-width: 455px;
   margin: 0 auto;
   text-align: center;
}
.tools__text .sec-title {
   margin-top: 200px;
}
.tools__text .sec-sub {
   margin-top: 25px;
}

.tools__body {
   margin-top: 90px;
   display: -ms-grid;
   display: grid;
   -ms-grid-columns: 1fr 25px 1fr 25px 1fr;
   grid-template-columns: repeat(3, 1fr);
   grid-gap: 25px;
}

.tool__card {
   display: -ms-grid;
   display: grid;
   -ms-grid-columns: 1fr 40px 1fr 40px 3fr;
   grid-template-columns: 1fr 1fr 3fr;
   -ms-grid-rows: 1fr 40px 1fr 40px 1fr;
   grid-template-rows: 1fr 1fr 1fr;
   grid-gap: 40px;
   padding: 42px;
   border-radius: 15px;
}

.tool__card > *:nth-child(1) {
   -ms-grid-row: 1;
   -ms-grid-column: 1;
}

.tool__card > *:nth-child(2) {
   -ms-grid-row: 1;
   -ms-grid-column: 3;
}

.tool__card > *:nth-child(3) {
   -ms-grid-row: 1;
   -ms-grid-column: 5;
}

.tool__card > *:nth-child(4) {
   -ms-grid-row: 3;
   -ms-grid-column: 1;
}

.tool__card > *:nth-child(5) {
   -ms-grid-row: 3;
   -ms-grid-column: 3;
}

.tool__card > *:nth-child(6) {
   -ms-grid-row: 3;
   -ms-grid-column: 5;
}

.tool__card > *:nth-child(7) {
   -ms-grid-row: 5;
   -ms-grid-column: 1;
}

.tool__card > *:nth-child(8) {
   -ms-grid-row: 5;
   -ms-grid-column: 3;
}

.tool__card > *:nth-child(9) {
   -ms-grid-row: 5;
   -ms-grid-column: 5;
}
.tool__card:hover {
   background: rgba(40, 48, 54, 0.6);
   -webkit-backdrop-filter: blur(50px);
           backdrop-filter: blur(50px);
}
.tool__card img {
   -ms-grid-column: 1;
   -ms-grid-column-span: 1;
   grid-column: 1/2;
   grid-column: 1/2;
}
.tool__card .card-gr__n-p {
   -ms-grid-column: 2;
   -ms-grid-column-span: 2;
   grid-column: 2/4;
   -ms-grid-row: 1;
   -ms-grid-row-span: 1;
   grid-row: 1/2;
}
.tool__card .card-gr__n-p .card-tool__price {
   font-weight: 400;
   color: rgba(255, 165, 55, 0.55);
}
.tool__card .card__desc {
   -ms-grid-column: 1;
   -ms-grid-column-span: 3;
   grid-column: 1/4;
   -ms-grid-row: 2;
   -ms-grid-row-span: 1;
   grid-row: 2/3;
}
.tool__card .tools-img-gr {
   -ms-grid-column: 1;
   -ms-grid-column-span: 1;
   grid-column: 1/2;
   -ms-grid-row: 3;
   -ms-grid-row-span: 1;
   grid-row: 3/4;
   -ms-grid-row-align: center;
       align-self: center;
   -ms-grid-column-align: center;
       justify-self: center;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   max-height: 42px;
}
.tool__card .tools-img-gr img:first-child {
   margin-right: 20px;
}
.tool__card .visit-btn {
   -ms-grid-row-align: center;
       align-self: center;
   -ms-grid-column-align: right;
       justify-self: right;
   -ms-grid-column: 3;
   -ms-grid-column-span: 1;
   grid-column: 3/4;
   max-height: 50px;
   padding: 9px 35px;
   -webkit-transition: 0.4s;
   transition: 0.4s;
   border-radius: 8px;
}
.tool__card .visit-btn:hover {
   background-color: #FF6E30;
   color: white;
   -webkit-transition: 0.3s;
   transition: 0.3s;
}

.tools__load-more {
   width: -webkit-fit-content;
   width: -moz-fit-content;
   width: fit-content;
   border: 1px solid rgba(255, 255, 255, 0.1);
   padding: 17px 38px;
   margin: 0 auto;
   margin-top: 100px;
   -webkit-transition: 0.3s;
   transition: 0.3s;
}
.tools__load-more:hover {
   background-color: #FF6E30;
   color: white;
   -webkit-transition: 0.5s;
   transition: 0.5s;
}

@media screen and (max-width: 71.875em) {
   .tools__body {
      -ms-grid-columns: 1fr 25px 1fr;
      grid-template-columns: 1fr 1fr;
   }
}
@media screen and (max-width: 47.25em) {
   .tools__body {
      display: none;
   }

   .sec-most-popular-tools .tools__slider {
      margin-top: 30px;
      display: block;
   }
}
@media screen and (max-width: 19.875em) {
   .tool__card {
      grid-gap: 30px;
   }
   .tool__card .cart__title {
      font-size: 14px;
   }
   .tool__card .card__desc {
      font-size: 0.75rem;
   }
   .tool__card img {
      max-width: 40px;
   }
   .tool__card .tools-img-gr img {
      max-width: 30px;
   }
   .tool__card .visit-btn {
      -ms-grid-column-align: center;
          justify-self: center;
      padding: 6px 10px;
   }
}
.title-h1 {
   font-size: 3.125rem;
   line-height: 140%;
}

.sec-title {
   font-size: 3rem;
   line-height: 130%;
}

.sec-sub {
   font-size: 1.125rem;
   line-height: 1.875rem;
   color: rgba(255, 255, 255, 0.55);
   font-weight: 400;
}

.text-24 {
   font-weight: 500;
   font-size: 1.5rem;
   line-height: 2.25rem;
   color: rgba(255, 255, 255, 0.8);
}

.text-16 {
   font-size: 1rem;
   line-height: 1.875rem;
   font-weight: 400;
   color: rgba(255, 255, 255, 0.55);
}

.text-14 {
   font-size: 0.875rem;
   line-height: 1.875rem;
}

.footer-titles {
   font-size: 1.25rem;
   line-height: 1.875rem;
}

.sec-truth {
   margin: 200px 20px 0 20px;
   padding: 0 10px 40px 10px;
   background: rgba(44, 53, 61, 0.2);
   -webkit-backdrop-filter: blur(50px);
           backdrop-filter: blur(50px);
   border-radius: 25px;
}
.sec-truth .trush__title {
   padding-top: 55px;
   text-align: center;
}
.sec-truth .truth__companies {
   display: -ms-grid;
   display: grid;
   -ms-grid-columns: 1fr 20px 1fr 20px 1fr 20px 1fr;
   grid-template-columns: repeat(4, 1fr);
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   justify-items: center;
   grid-gap: 20px;
}
.sec-truth .truth__companies img {
   width: 100%;
   height: auto;
   max-width: 200px;
   margin-top: 55px;
}

@media screen and (max-width: 58.75em) {
   .sec-truth .truth__companies {
      -ms-grid-columns: 1fr 20px 1fr;
      grid-template-columns: repeat(2, 1fr);
   }
}
@media screen and (max-width: 37.5em) {
   .sec-truth .truth__companies img {
      max-width: 120px;
   }
}
.title-h1 {
   font-size: 3.125rem;
   line-height: 140%;
}

.sec-title {
   font-size: 3rem;
   line-height: 130%;
}

.sec-sub {
   font-size: 1.125rem;
   line-height: 1.875rem;
   color: rgba(255, 255, 255, 0.55);
   font-weight: 400;
}

.text-24 {
   font-weight: 500;
   font-size: 1.5rem;
   line-height: 2.25rem;
   color: rgba(255, 255, 255, 0.8);
}

.text-16 {
   font-size: 1rem;
   line-height: 1.875rem;
   font-weight: 400;
   color: rgba(255, 255, 255, 0.55);
}

.text-14 {
   font-size: 0.875rem;
   line-height: 1.875rem;
}

.footer-titles {
   font-size: 1.25rem;
   line-height: 1.875rem;
}

.sec-new-tools {
   margin: 220px 20px 0 20px;
   display: -ms-grid;
   display: grid;
   -ms-grid-columns: 1fr 57px 1fr;
   grid-template-columns: 1fr 1fr;
   -webkit-column-gap: 57px;
      -moz-column-gap: 57px;
           column-gap: 57px;
}

.new__text {
   margin-top: 40px;
   -ms-flex-item-align: start;
       align-self: flex-start;
}
.new__text .sec-sub {
   margin-top: 30px;
   margin-right: 10px;
}
.new__text .btn {
   width: -webkit-fit-content;
   width: -moz-fit-content;
   width: fit-content;
   margin-top: 60px;
   padding: 15px 40px;
}

.new__tools {
   display: -ms-grid;
   display: grid;
   -ms-grid-columns: 1fr 30px 1fr;
   grid-template-columns: 1fr 1fr;
   grid-gap: 30px;
   -ms-grid-column-align: right;
       justify-self: right;
}

@media screen and (max-width: 68.75em) {
   .sec-new-tools {
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
   }

   .new__tools {
      margin-top: 50px;
   }
}
@media screen and (max-width: 47.375em) {
   .new__tools {
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
      -ms-grid-column-align: center;
          justify-self: center;
   }
   .new__tools .tool__card {
      margin-top: 30px;
   }
}