$backgroud:rgb(30,37,43);

$orange:#FF6E30;
$sub-text:rgba(255, 255, 255, 0.55);

@mixin px-rem($px,$wtd) {
    $res: $px / 16;
    @if($wtd == 'fs'){
        font-size: $res + rem;
    } @else if($wtd == 'lh'){
        line-height: $res + rem;
    } @else{
        max-width: $res + em;
    }
}

.title-h1{
    @include px-rem(50, 'fs');
    line-height: 140%;
}
.sec-title{
    @include px-rem(48, 'fs');
    line-height: 130%;
}
.sec-sub{
    @include px-rem(18, 'fs');
    @include px-rem(30, 'lh');
    color: $sub-text;
    font-weight: 400;
}
.text-24{
    font-weight: 500;
    @include px-rem(24, 'fs');
    @include px-rem(36, 'lh');


    color: rgba(255, 255, 255, 0.8);
}
.text-16{
    @include px-rem(16, 'fs');
    @include px-rem(30, 'lh');
    font-weight: 400;
    color: $sub-text
}
.text-14{
    @include px-rem(14, 'fs');
    @include px-rem(30, 'lh');
    color: rgba(255, 255, 255, 0.55);
}
.footer-titles{
    @include px-rem(20, 'fs');
    @include px-rem(30, 'lh');
}