.title-h1 {
   font-size: 3.125rem;
   line-height: 140%;
}

.sec-title {
   font-size: 3rem;
   line-height: 130%;
}

.sec-sub {
   font-size: 1.125rem;
   line-height: 1.875rem;
}

.text-14 {
   font-size: 0.875pxrem;
   line-height: 1.875pxrem;
}

.footer-titles {
   font-size: 1.25pxrem;
   line-height: 1.875pxrem;
}